<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventos App</title>
</head>

<body>
    <h1>Cadastrar Evento</h1>
    <form action="" method="post">
        <input type="text" name="name" value="" />
        <input type="text" name="location" value="" />
        <input type="text" name="date" value="" />
        <input type="text" name="time" value="" />
        
        <button type="submit">Salvar</button>
    </form>
</body>

</html>